{% extends "header.html" %} {% load static %} {% block content %}


<html>
<head>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<body>
    <div class="top-nav">
        <nav class="navbar navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
                    </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="hvr-bounce-to-bottom"><a href="index.php">Home</a></li>
                    <li class="hvr-bounce-to-bottom"><a href="diet.php">My Diet</a></li>
                    <li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Food Catalog<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="hvr-bounce-to-bottom" href="carbohyrate.php">Carbohydrate</a></li>
                            <li><a class="hvr-bounce-to-bottom" href="fruit.php">Fruit</a></li>
                            <li><a class="hvr-bounce-to-bottom" href="protein.php">Protein</a></li>
                            <li><a class="hvr-bounce-to-bottom" href="vegetable.php">Vegatables</a></li>
                        </ul>
                    </li>
                    <li class="hvr-bounce-to-bottom"><a href="account.php">My Account</a></li>

                </ul>
                <div class="clearfix"> </div>
            </div>
        </nav>
    </div>

  <div class="diet-select">

          <form method="post" id="form1" action="{% url 'result' %}"> {% csrf_token %}

            <div class="rows">
                <label class="header"><strong>Fruit:</strong></label> {% for i in fruit %}
                <input type="checkbox" name="choice" value="{{i.foodname}}" id="{{i.foodname}}"> {{i.foodname}} {% endfor %}
                <br>
                <div class="clear"></div>
            </div>

            <div class="rows">
                <label class="header"><strong>Protein:</strong></label> {% for i in protein %}
                <input type="checkbox" name="choice" value="{{i.foodname}}" id="{{i.foodname}}"> {{i.foodname}} {% endfor %}
                <br>
                <div class="clear"></div>
            </div>

            <div class="rows">
                <label class="header"><strong>Vegetable:</strong></label> {% for i in vegetable %}
                <input type="checkbox" name="choice" value="{{i.foodname}}" id="{{i.foodname}}"> {{i.foodname}} {% endfor %}
                <br>
                <div class="clear"></div>
            </div>

            <div class="rows">
                <label class="header"><strong>Carbohydrate:</strong></label> {% for i in carb %}
                <input type="checkbox" name="choice" value="{{i.foodname}}" id="{{i.foodname}}"> {{i.foodname}} {% endfor %}
                <br>
                <div class="clear"></div>
            </div>


            <div class="rows">
                <label class="header"><strong>Weight:</strong></label>
                <div class="column2">
                    <input type="number" min="50" max="100" id="Weight" name="Weight" value="50">
                </div>
                <div class="clear"></div>
            </div>

            <div class="rows">
                <label class="header"><strong>Height:</strong></label>
                <div class="column2">
                    <input type="number" min="150" max="185" id="Height" name="Height" value="150">
                </div>
                <div class="clear"></div>
            </div>

            <div class="rows">
                <label class="header"><strong>Age:</strong></label>
                <div class="column2">
                    <input type="number" min="15" max="50" id="Age" name="Age" value="20">
                </div>
                <div class="clear"></div>
            </div>

            <div class="rows">
                <label class="header"><strong>Objectives:</strong></label>
                <div class="column2">
                    <select name="Objective">

                        <option value="0">Select objective on your diet</option>
                        <option value="1">Minimise sodium intake</option>
                        <option value="2">Minimise sugar intake </option>
                        <option value="3">Minimise carbohydrates</option>
                        <option value="4">Minimise fat intaken</option>
                        <option value="5">Minimise cost</option>


                        </select>
                </div>
                <div class="clear"></div>
            </div>

            <div class="card">
                <div class="card-body card-padding" style="text-align:center;">
                    <!--<button class="btn btn-success btn-lg hec-button waves-effect"  onClick="presubmit(); return false;">Submit</button>-->
                    <input type="submit">
                </div>
            </div>


             <div class="clear"></div>


          </form>
        </div>
    
    <!-- new additions -->
    
    <table border="1" cellpadding="20px" width="100%">
        <tr style="background-color:#999999; color:#ffffff;">
            <td>Fruit</td>
            <td>Protein</td>
            <td>Vegetable</td>
            <td>Carbohydrates</td>
        </tr>
        <tr style="background-color: #cccccc">
            <td>{% for i in fruit %}
                <input type="checkbox" name="choice" value="{{i.foodname}}" id="{{i.foodname}}"> {{i.foodname}} {% endfor %}
            </td>
            <td>{% for i in protein %}
                <input type="checkbox" name="choice" value="{{i.foodname}}" id="{{i.foodname}}"> {{i.foodname}} {% endfor %}
            </td>
            <td>{% for i in vegetable %}
                <input type="checkbox" name="choice" value="{{i.foodname}}" id="{{i.foodname}}"> {{i.foodname}} {% endfor %}
            </td>
            <td>{% for i in carb %}
                <input type="checkbox" name="choice" value="{{i.foodname}}" id="{{i.foodname}}"> {{i.foodname}} {% endfor %}
            </td>
        </tr>
    </table>

    <!-- end here -->

	<script type="text/javascript">
		$(document).ready(function() {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});

		/*function presubmit() {
				$.ajax({
					  type: "POST",
					  url: 'submission.php',
					  data: $("#form1").serialize(),
					  success: function(data) {
							window.location = 'submission.php'
					  }
					});
	}*/

		$('input[type=checkbox]').on('change', function (e) {
		if ($('input[type=checkbox]:checked').length > 9) {
        $(this).prop('checked', false);
		}
		});

	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <script src="js/bootstrap.js"></script>


</body>
</html>
{% endblock %}
