{% extends "header.html" %} {% load static %} {% block content %}


<html>
<head>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
</head>
<body>
    <div class="top-nav">
        <nav class="navbar navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
                    </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="hvr-bounce-to-bottom"><a href="index.php">Home</a></li>
                    <li class="hvr-bounce-to-bottom"><a href="diet.php">My Diet</a></li>
                    <li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Food Catalog<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="hvr-bounce-to-bottom" href="carbohyrate.php">Carbohydrate</a></li>
                            <li><a class="hvr-bounce-to-bottom" href="fruit.php">Fruit</a></li>
                            <li><a class="hvr-bounce-to-bottom" href="protein.php">Protein</a></li>
                            <li><a class="hvr-bounce-to-bottom" href="vegetable.php">Vegatables</a></li>
                        </ul>
                    </li>
                    <li class="hvr-bounce-to-bottom"><a href="account.php">My Account</a></li>

                </ul>
                <div class="clearfix"> </div>
            </div>
        </nav>
    </div>

    <!-- new additions -->
    <form method="post" id="form1" action="{% url 'result' %}"> {% csrf_token %}
       <br>
        <div class="page-header">
          <h1 align="center"> Food Selection</h1>
        </div>
        <table style="margin-left: 50px;" border="1" cellpadding="20px" width="90%">
            <tr style="background-color:#e6e6e6; color:#404040;">
                <td class="foodtype"><b>Fruit</b></td>
                <td class="foodtype"><b>Protein</b></td>
                <td class="foodtype"><b>Vegetable</b></td>
                <td class="foodtype"><b>Carbohydrates</b></td>
            </tr>
            <tr style="background-color: #f2f2f2">
                <td valign="top">{% for i in fruit %}
                    <div style="margin-left: 10px" class="checkbox checkbox-success checkbox-circle">
                        <input style="margin-bottom: 5px;" type="checkbox" name="choice" value="{{i.foodname}}" id="{{i.foodname}}"> <label for="{{i.foodname}}"> {{i.foodname}} </label>
                    </div>
                    {% endfor %}
                </td>
                <td valign="top">{% for i in protein %}
                    <div style="margin-left: 10px" class="checkbox checkbox-danger checkbox-circle">
                        <input style="margin-bottom: 5px;" type="checkbox" name="choice" value="{{i.foodname}}" id="{{i.foodname}}"> <label for="{{i.foodname}}"> {{i.foodname}} </label>
                    </div>
                    {% endfor %}
                </td>
                <td valign="top">{% for i in vegetable %}
                    <div style="margin-left: 10px" class="checkbox checkbox-primary checkbox-circle">
                        <input style="margin-bottom: 5px;" type="checkbox" name="choice" value="{{i.foodname}}" id="{{i.foodname}}"> <label for="{{i.foodname}}"> {{i.foodname}} </label>
                    </div>
                    {% endfor %}
                </td>
                <td valign="top">{% for i in carb %}
                    <div style="margin-left: 10px" class="checkbox checkbox-warning checkbox-circle">
                        <input style="margin-bottom: 5px;" type="checkbox" name="choice" value="{{i.foodname}}" id="{{i.foodname}}"> <label for="{{i.foodname}}"> {{i.foodname}} </label>
                    </div>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <br>

        <div class="page-header">
          <h1 align="center"> User Details</h1>
        </div>
        <table style="margin-left: 50px; border-collapse: separate; border-spacing: 10px;" cellpadding="20px" width="90%">
            <tr>
                <td style="width: 360px;">
                    <span class="label label-primary">Weight (in kg)</span>
                </td>
                <td>
                    <input style="text-align: center; font-size: 16" class="form-control" type="number" min="50" max="100" id="Weight" name="Weight" value="50">
                </td>
            </tr>

            <tr>
                <td>
                    <span class="label label-warning">Height (in cm)</span>
                </td>
                <td>
                    <input style="text-align: center; font-size: 16" class="form-control" type="number" min="150" max="185" id="Height" name="Height" value="150">
                </td>
            </tr>

            <tr>
                <td>
                    <span class="label label-danger">Age</span>
                </td>
                <td>
                    <input style="text-align: center; font-size: 16" class="form-control" type="number" min="15" max="50" id="Age" name="Age" value="20">
                </td>
            </tr>

            <tr>
                <td>
                    <span class="label label-success">Objective (Minimise)</span>
                </td>

                <td id="obj">
                    <select style="text-align-last:center; font-size: 16" class="form-control" id="Objective">
<!--                        <option id="obk" value="0">Select objective for optimization</option>-->
                        <option id="obk1" value="1">Minimise sodium intake</option>
                        <option id="obk2" value="2">Minimise sugar intake </option>
                        <option id="obk3" value="3">Minimise carbohydrates</option>
                        <option id="obk4" value="4">Minimise fat intaken</option>
                        <option id="obk5" value="5">Minimise cost</option>
                    </select>
                </td>
            </tr>


        </table>

        <div class="card">
            <br>
            <div class="card-body card-padding" style="text-align:center;">
                <button type="submit" id="submit" class="btn btn-primary btn-lg btn-block" > Optimize </button>
            </div>
        </div>
    </form>

    <!-- end here -->

	<script type="text/javascript">
		$(document).ready(function() {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});

        
        $('#submit').click(function() {
            var inputWeight= $('#Weight').val();
            var inputHeight = $('#Height').val();
            var inputAge = $('#Age').val();
            var checkBox = document.getElementsByName("choice");
            var x = document.getElementById("Objective").selectedIndex;
            if(checkBox.length<=5){alert("Please select at least 6 food types to optimize your diet"); return false;}
            if (inputWeight > 100 || inputWeight < 50) {
                alert("ERROR: Please enter a valid weight between 50 and 100");
                return false;
            }
            if (inputHeight > 185 || inputHeight < 150) {
                alert("ERROR: Please enter a valid height between 150 and 185");
                return false;
            }
            if (inputAge > 50 || inputAge < 15) {
                alert("ERROR: Please enter a valid age between 15 and 50");
                return false;
            }
            if (x == '0') {
                alert("ERROR: Please choose a valid objective");
                return false;
            }
        });

	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <script src="js/bootstrap.js"></script>


</body>
</html>
{% endblock %}
