{% extends "header.html" %} {% load static %} {% block content %}
<html>

<body>
    <!--navigation-->
    <div class="top-nav">
        <nav class="navbar navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu
				</button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="hvr-bounce-to-bottom"><a href="index.php">Home</a></li>
                    <li class="hvr-bounce-to-bottom"><a href="diet.php">My Diet</a></li>
                    <li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Food Catalog<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="hvr-bounce-to-bottom" href="carbohyrate.php">Carbohydrate</a></li>
                            <li><a class="hvr-bounce-to-bottom" href="fruit.php">Fruit</a></li>
                            <li><a class="hvr-bounce-to-bottom" href="protein.php">Protein</a></li>
                            <li><a class="hvr-bounce-to-bottom" href="vegetable.php">Vegatables</a></li>
                        </ul>
                    </li>
                    <li class="hvr-bounce-to-bottom"><a href="account.php">My Account</a></li>

                </ul>
                <div class="clearfix"> </div>
            </div>
        </nav>
    </div>
    <!--//navigation-->
    <div class="baner">
        <div class="container">
            <div class="baner-foods">

                {% for i in fruit %} {% static "foodpics/" as baseUrl %}
                <div class='col-md-4 baner-bottom'>
                    <figure class='effect-bubba'>
                        <img src="{{baseUrl}}/{{i.picture}}" alt='' width='100' height='100' />
                        <figcaption>
                            <p>Name: {{i.name}}</p>
                            <p>Energy: {{i.energy}}</p>
                            <p>Protein: {{i.protein}}</p>
                            <p>Satuarted Fat: {{i.fat}}</p>
                            <p>Sugar: {{i.sugar}} </p>
                            <p>Detary Fibre:{{i.fibre}}</p>
                            <p>Price: {{i.price}} </p>
                        </figcaption>
                    </figure>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <!--smooth-scrolling-of-move-up-->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
            var defaults = {
            	containerID: 'toTop', // fading element id
            	containerHoverID: 'toTopHover', // fading element hover id
            	scrollSpeed: 1200,
            	easingType: 'linear'
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!--//smooth-scrolling-of-move-up-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>
{% endblock %}
